.selected {
    font-weight: bolder;
}

body{
    font-family: 'Song Myung', serif;
}
h1{
    text-align: center;
}

#countryList{
    font-size: 20px; 
    text-align: center; 
    padding: 8px 20px;
}

#country{
    list-style-type: none;
}

#artist-list {
    font-size: 20px;
    padding: 5px;
}

#artists{
    list-style-image: url('./Assets/music.png')
}

#tracks{
    list-style-image: url('./Assets/headphones.png');
    list-style-position: inside;
}

#track-list{
    font-size: 18px;
    border-bottom: 1px solid black;
  
}

.music-track{

    width: 50%;
    margin: auto ;
}

.player{
    text-align: center;
}